body{
    background-color: grey;
}

.infok{
text-align: center;
font-weight: bold;
margin-top: 20px;
}

.orarend{
    position: absolute;
    left: 300px;
    border: solid 2px black;
}

nav{
    justify-content: center;
    background-color: black;
    color: white;
}

#vissza{
    margin-top: 20px;
    position: absolute;
    left: 15px;
}


#cim{
    text-align: center;
    font-size: 64px;
}

.gombok{
    margin-top: 300px;
    font-size: 32px;
    text-align: center;
    
}

.gomb{
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    width: 100px;
    height: 45px;
    text-align: center;
    border: solid 1px black;
    border-radius: 20px;
    text-decoration: none;
}

table, th, td{
    border: 1px solid black;
}